<%# 仮のログイン後のページ %>
<h1>Home</h1>

<% if logged_in? %>
  <p data-test="login-state">ログイン中:
    <%= current_user.email %></p>
  <%= button_to "ログアウト", logout_path, method: :delete %>
<% else %>
  <p data-test="login-state">未ログイン</p>
  <%= link_to "ログイン", login_path %>
<% end %>

<p style="color:green;"><%= notice %></p>
<p style="color:red;"><%= alert %></p>
